div {
  margin: 0;
  padding: 0px;
  text-align: center;
  position: relative;
}
tr td {
  border: 0px;
}

p {
  margin: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline !important;
}
.list_soon {
  opacity: 0.5 !important;
  pointer-events: none;
}
.list_soon::after {
  content: " (Coming Soon!)";
  font-size:0.8em;
  font-style: italic;

}
#main_div {
  width: 100%;
  overflow: hidden;
  background: #000;
}

/* mobile menu */

#top_box * {
  transition: all 0.5s;
  text-align: left;
  color: #CCC;
  font-family: Arial;
}
#top_box ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

#top_box li {
  background: #660000;
  /*background: #990000;*/
  list-style: none;
}
#top_box a {
  opacity: 0;
  transition: all 0s;
  line-height: 2em;
  font-size: 1em;
  font-family: Arial;
}

#top_box label a {
  position:absolute;
  height:100%;
  width:0;
  top:0;
  right:0;

}
#top_box #first_ul>li>label{
  padding-left:2.5%;
}
#top_box .second_ul>li>label {
  padding-left:3.5%;
  width:96.5%;
}
#top_box .third_ul>li>label {
  padding-left:7%;
  width:93%;
}
#top_box .forth_ul>li>label {
  padding-left:10.5%;
  width:89.5%;
}
#top_box .third_ul>li>div{
  width:93%;
  padding-left:7%;
}
#top_box .forth_ul>li>div{
  padding-left:10.5%;
  width:89.5%;
}
#top_box .fifth_ul>li>div{
  padding-left: 12.5%;
  width:87.5%;
}


#top_box label {
  margin: 0;
  padding: 0;
  width: 100%;
  height:auto;
  display: inline-block;
  background: #660000;
  /*border-bottom: 1px solid #000;*/
  line-height: 2em;
  font-size: 1em;
  font-family: Arial;
}
#top_box label>a{
  display: none;
}
#top_box .second_ul label {
  /*width:0;*/
  height: 0;

}
#top_box .second_ul>li {
  border-top:1px solid #FFF;
}

#top_box #first_ul>li>#root_label:before {
  font-family: 'FontAwesome';
  content: '\f0ca';
  margin-right: 0.5em;

}
#top_box label>a:before {
  font-family: 'FontAwesome';
  content:'\f105';
  line-height: 3em;
  font-size: 1em;
  padding-right:1em;
}

#top_box input {
  margin: 0;
  padding: 0;
  width: 100%;
}

#top_box input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  z-index: -100;
  transition: all 0s;
}



#top_box .second_ul li {
  position: absolute;
  opacity: 0;
  height:0;
  /*width: 0;*/
}

#top_box .second_ul>li label {
  opacity: 0;
  position: absolute;
  height:0;
}
#top_box input:checked~label {
  text-shadow: 0.02em 0;


}
#top_box input:checked~label>a{
  display:block;
}
#top_box .second_ul>li {
  height:auto;
  opacity: 1;
  position: relative;
}

#top_box .second_ul>li>.second_label {
  opacity: 1;
  position: relative;
  height:auto;
  background: #990000;
}
#top_box .second_ul>li>.second_label>a {
  opacity: 1;
  width:auto;
}


#top_box .second_collapse_input:checked~label{
  background:#993333 !important;
}

#top_box .second_collapse_input:checked~.third_ul>li {
  opacity: 1;
  height: auto;
  position:relative;
  background:#993333 !important;
}
#top_box .second_collapse_input:checked~.third_ul>li>div>a {
  opacity: 1;
}
#top_box .second_collapse_input:checked~.third_ul>li>.third_label {
  opacity: 1;
  position: relative;
  height:auto;
  background:#993333;
}
#top_box .second_collapse_input:checked~.third_ul>li>.third_label>a {
  opacity: 1;
  width:auto;
}


#top_box .third_collapse_input:checked~label{
  background:#bf4040 !important;
}
#top_box .third_collapse_input:checked~.forth_ul>li {
  opacity: 1;
  height: auto;
  position: relative;
  background:#bf4040 !important;
}
#top_box .third_collapse_input:checked~.forth_ul>li>div>a {
  opacity: 1;
}
#top_box .third_collapse_input:checked~.forth_ul>li>.forth_label {
  opacity: 1;
  position: relative;
  height:auto;
  background:#bf4040;
}
#top_box .third_collapse_input:checked~.forth_ul>li>.forth_label>a {
  opacity: 1;
  width:auto;
}



#top_box .forth_collapse_input:checked~label{
  background:#d27979 !important;
}
#top_box .forth_collapse_input:checked~.fifth_ul>li {
  opacity: 1;
  height: auto;
  position: relative;
  background:#d27979 !important;
}
#top_box .forth_collapse_input:checked~.fifth_ul>li>div>a {
  opacity: 1;
}

  #top_box {
    opacity: 1;
    width: 100%;
    position: relative;
  }
